# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Command.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Patterns\Command\.idea\.idea.Command.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
